{# Sidebar component #}

<div id="sidebar" class="sidebar">


    <button id="closeSidebar" class="close-btn">
        <i class="fa-solid fa-xmark"></i>
    </button>

    <div class="history-header">

        <h2>History</h2>

        <button id="clearHistoryBtn" class="clear-history-btn">

            <i class="fa-solid fa-trash-can"></i>
            Clear All

        </button>

    </div>

    <div id="historyContainer">

        <div class="empty-history">

            <i class="fa-solid fa-clock-rotate-left"></i>

            <p>
                No history available
            </p>

        </div>

    </div>


</div>

<div id="sidebarOverlay" class="sidebar-overlay"></div>